<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="hamburger-wrapper">
          <div class="hamburger">
            <i class="fa fa-bars" style="font-size: 16px;"></i>
          </div>
        </div>
        <div style="height: 49px;">
          <img alt="Angular" class="brand-logo" src="https://preview.angular-templates.io/assets/imgs/angular.svg">
        </div>
        <div class="brand-wrapper d-none d-lg-block">
          <label class="brand" href="#">Component Templates</label>
        </div>
        <div class="search-wrapper d-none d-sm-block">
          <i _ngcontent-c8="" class="search-bar-icon fa fa-search"></i>
          <input _ngcontent-c8=""
            class="search-bar-input mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-valid ng-touched ng-dirty"
            matinput="" placeholder="Search here" type="text" autocomplete="off" role="combobox"
            aria-autocomplete="list" aria-expanded="false" id="mat-input-0" aria-invalid="false" aria-required="false">
        </div>
        <div class="actions-wrapper">
          <div class="logged-user">
            <div class="user-image-wrapper">
              <img class="user-image" title="profile image" alt="profile image"
                src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/16284_10201371299099387_2068440657_n.jpg?_nc_cat=107&_nc_oc=AQnmo-mZq_XAvXawVFSF9-svO8falckzASszGS2bCO-dz1nYpwwobEiEw3doCNOjtbl3DwW_AcdnCIl7_2Knsh5N&_nc_ht=scontent-dfw5-2.xx&oh=4c7fcc57d11e2619b483b7d371908994&oe=5DB9424E">
            </div>
            <span class="user-name d-none d-lg-block">Parker Leavitt</span>
          </div>
          <div class="notifications-menu">
            <button aria-haspopup="true" class="btn-notifications" type="button">
              <i class="fa fa-bell" style="font-size: 20px;"></i>
              <span class="notifications-count">6</span>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>