<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="card">
      <header class="row title">
        <div class="col-xs-12">
          <h2 class="main-title">Material Spinner</h2>
        </div>
      </header>
      <div class="col-xs-12" style="padding: 0;">
        <div class="width: 100%">
          <mat-spinner class="material-spinner" diameter="75"></mat-spinner>
          <mat-spinner class="material-spinner" diameter="50"></mat-spinner>
          <mat-spinner class="material-spinner" diameter="25"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="card">
      <header class="row title">
        <div class="col-xs-12">
          <h2 class="main-title">FontAwesome Spinner</h2>
        </div>
      </header>
      <div class="col-xs-12" style="padding: 0;">
        <div class="width: 100%">
          <i class="custom-spinner1 fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <i class="custom-spinner2 fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <i class="custom-spinner3 fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
      </div>
    </div>
  </div>
</div>