@import '../../shared/styles/_variables';
@import '../../shared/styles/_mixins';

.expansion-panel-button {
    @include button($white, $skyblue, $skyblue);
    display: block;
    font-weight: 400;
    margin-right: 5px;
    min-width: 130px;
    width: 20%;
}

.expansion-panel-close {
    @include button($white, $red, $red);
    display: block;
    font-weight: 400;
    min-width: 90px;
    width: 20%;
}

.card {
    .controls-wrapper {
        margin-bottom: 20px;
    }

    
    .mat-slide-toggle-content {
        color: #9b9b9b;
        font-size: 13px;
        font-weight: 500 !important;
        letter-spacing: 1.8px;
    }
    
}